*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    z-index: 1000; /* Keeps it above other content */

    
}
    

.logo{
        height: 100px;
        width: 100px;
        border-radius: 80px;
        border-style: solid 1px;
        border-width: 5px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color:black;
    overflow: hidden;

    
}
nav ul li a {
    color: white;
    text-decoration: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav ul li a.active {
    color: white;
}
nav ul li a:hover {
        background-color: #ff0000; /* Red on hover */
        color: #fff;
      }
    
      @media (max-width: 400px)  {
        .container {
          flex-direction: column;
        }
    }

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 120px;
    margin: 0%;


}
.info {
    width: 50%;
}
.profile-pic img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    justify-content: center;
}
.social-links {
    display: flex;
    justify-content: space- space-between;
    justify-content: center;
    padding: 20px;
}
.social-links a {
    color: black;
    margin: 0 10px;
    font-size: 20px;
}
